.sticky-footer {
  position: sticky;
  top: 100%;
}

body {
  min-height: 100vh;
}

footer {
  width: 100%;
  display: grid;
  place-items: center;
  padding: 1em;
  font-size: var(--txt-size-footer);
  margin-top: 5rem;
}
